/* Add CSS Styling */
.class {
    background-color: pink;
    font-family: "Verdana", "DejaVu Sans", sans-serif;
}

#id {
    color: blue;
    font-size: 36px;
}

.class.cooler {
    font-size: 24px;
}