/* Add CSS Styling */
.class {
    background-color: pink;
    font-family: "Verdana", "DejaVu Sans", sans-serif;
}

#id {
    color: blue;
    font-size: 36px;
}

.cooler {
    font-size: 24px;
}

#second_id {
    background-color: greenyellow;
    font-size: 24px;
    font-weight: bold;
}