body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  padding: 16px;
}

.title {
  background: #e3f4ff;
  padding: 16px;
  margin: 20px;
}

.content {
  background: #e3f4ff;
  padding: 16px;
  margin: 20px;
}

.button-container {
  background: #e3f4ff;
  text-align: center;
  margin: 20px;
}

button {
  background: white;
  border: 1px solid #eee;
  padding: 15px;
  margin: 10px auto;
  text-align: center;
  display: block;
}